# BASE_URL=https://base.agcs.agetic.gob.bo
BASE_URL=http://localhost:8080
# PATH_CIUDADANOS, obtener de https://gitlab.agetic.gob.bo/agetic/agetic/proyectos-base/utilidades/datasets/demo-personas/-/blob/main/DatosServiciosFakeSEGIP.json
PATH_CIUDADANOS=/demo-personas/DatosServiciosFakeSEGIP.json
HEADLESS=true
SLOWMO=0
