#ignoring dirs
node_modules/
#dist/
.next/
.nuxt/

#ignoring dotfiles
.dockerignore
#.eslintrc.js
.env.sample
# .env
# .prettierrc
.gitignore
.git

#ignoring markdown files
README.md

*dockerfile*
*docker-compose*

.gitlab-ci.yml
.gitlab
